<div class="page__title">
  <span class="title__text">Programas Recomendados</span>
  <i name="print" class="no-print icon icon-print" ng-click="printFunds()"></i>
  <%= link_to profile_path, method: :delete, data: { confirm: "¿Seguro que deseas borrar este cuestionario?" } do %>
    <i name="print" class="no-print icon icon-trash"></i>
  <% end %>
  <%= link_to destroy_user_session_path, method: :delete do %>
    <i name="print" class="no-print icon icon-door"></i>
  <% end %>
</div>
<div class="page__content results__list">

  <% @funds.each_with_index do |f, idx| %>
    <%= content_tag( :div, nil, class: "fund-data", data: { fund: f }) %>
  <% end %>
  <div ng-repeat="fund in funds" class="list-item" ng-class="{ selected: fundSelected[$index] }">
    <div class="list-item__title" ng-click="clickOnFund($index)">
      <span class="list-item__title-1">{{ fund.name }}</span>
      <span class="list-item__title-2">{{ fund.institution }}</span>
    </div>
    <div class="list-item__content">
      <p>{{ fund.description }}</p>
      <p><b class="contact-info">Informes</b>
         <p ng-show="fund.contact_details.contact.length > 0"><b>Contacto: </b> {{ fund.contact_details.contact }}</p>
         <p ng-show="fund.contact_details.phone.length > 0"><b>Tel&eacute;fono(s): </b> {{ fund.contact_details.phone }}</p>
         <p ng-show="fund.contact_details.other_phone.length > 0"><b>Otro Tel&eacute;fono(s): </b> {{ fund.contact_details.other_phone }}</p>
         <p ng-show="fund.contact_details.email.length > 0"><b>Correo: </b> {{ fund.contact_details.email }}</p>
         <p ng-show="fund.contact_details.address.length > 0"><b>Direcci&oacute;n: </b> {{ fund.contact_details.address }}</p>
         <p ng-show="fund.contact_details.website.length > 0"><b>Sitio web: </b> <a ng-href="{{ fund.contact_details.website }}" target="_blank">{{ fund.contact_details.website }}</a></p>
     </p>
    </div>
  </div>
</div>
