.main-container {
  width: 100%;
}

.margin-bottom-normal {
  margin-bottom: 20px;
}

.margin-bottom-large {
  margin-bottom: 40px;
}


.container-medium {
  max-width: 900px;
}

.margin-normal {
  margin: 20px;
}
