<div class="page__title">
  <span class="title__text">{{ currentSection.identifier }}</span>
</div>

<!--  here starts the questionary -->
<div class="page__content">
  <questionary first-section="1.B" walked-path="walkedPath" sections="sections" current-section="currentSection" on-finish="showResults()" on-change="onSectionChange()">

    <!--  Only for first questionary section -->

    <section ng-if="currentSection.identifier === '1.B Características Sociodemográficas'" description="{{currentSection.help}}">
      <div class="question--input question--small smaller">
          <label for="input--age">Edad:</label><br />
          <input type="number" ng-model="currentSection.questions[0].body.value"/>
      </div><!--
   --><div class="question--small">
          <label for="radio--sex">Sexo:</label><br />
          <div class="button--radio">
              <input type="radio" id="radio--sex__hombre" name="radio--sex" value="{{currentSection.questions[1].body.options[0].value}}" ng-model="currentSection.questions[1].body.selected_value"/>
              <label for="radio--sex__hombre">{{currentSection.questions[1].body.options[0].label}}</label>
          </div><!--
       --><div class="button--radio">
              <input type="radio" id="radio--sex__mujer" name="radio--sex" value="{{currentSection.questions[1].body.options[1].value}}" ng-model="currentSection.questions[1].body.selected_value"/>
              <label for="radio--sex__mujer">{{currentSection.questions[1].body.options[1].label}}</label>
          </div>
      </div>

      <!--  Study question -->
      <question title="currentSection.questions[2].title" description="currentSection.questions[2].help" type="currentSection.questions[2].type" body="currentSection.questions[2].body" debug="false">
      </question>

      <!--  Home delegation question -->
      <question title="currentSection.questions[3].title" description="currentSection.questions[3].help" type="currentSection.questions[3].type" body="currentSection.questions[3].body" debug="false" nested="true">
        <!--  the next question is if it depends on the previous question -->
        <question ng-if="currentSection.questions[3].body.selected_value.question" ng-init="nestedQuestion=currentSection.questions[3].body.selected_value.question" idx="outerIdx" title="nestedQuestion.title" description="nestedQuestion.description" type="nestedQuestion.type" body="nestedQuestion.body"></question>
      </question>

      <!--  Business delegation question -->
      <question title="currentSection.questions[4].title" description="currentSection.questions[4].help" type="currentSection.questions[4].type" body="currentSection.questions[4].body" debug="false" nested="true">
        <!--  the next question is if it depends on the previous question -->
        <question ng-if="currentSection.questions[4].body.selected_value.question" ng-init="nestedQuestion=currentSection.questions[4].body.selected_value.question" idx="outerIdx" title="nestedQuestion.title" description="nestedQuestion.description" type="nestedQuestion.type" body="nestedQuestion.body"></question>
      </question>

      <div class="question--large">
           <p for="radio--indigenous">¿Hablas alg&uacute;n dialecto ind&iacute;gena?</p>
           <div class="button--radio">
               <input type="radio" id="radio--indigenous-yes" name="radio--indigenous" value="{{currentSection.questions[5].body.options[0].value}}" ng-model="currentSection.questions[5].body.selected_value"/>
               <label for="radio--indigenous-yes">{{currentSection.questions[5].body.options[0].label}}</label>
           </div><!--
           --><div class="button--radio">
               <input type="radio" id="radio--indigenous-no" name="radio--indigenous" value="{{currentSection.questions[5].body.options[1].value}}" ng-model="currentSection.questions[5].body.selected_value"/>
               <label for="radio--indigenous-no">{{currentSection.questions[5].body.options[1].label}}</label>
           </div>
       </div>

    </section>

    <!--  Every other questionary section -->

    <section ng-if="currentSection.identifier !== '1.B Características Sociodemográficas'" description="{{currentSection.help}}">
      <question ng-repeat="q in currentSection.questions" ng-init="outerIdx=$index" idx="outerIdx" title="q.title" description="q.help" type="q.type" body="q.body" debug="false" nested="true">
        <!--  the next question is if it depends on the previous question -->
        <question ng-if="q.body.selected_value.question" ng-init="nestedQuestion=q.body.selected_value.question" idx="outerIdx" title="nestedQuestion.title" description="nestedQuestion.description" type="nestedQuestion.type" body="nestedQuestion.body"></question>
      </question>
    </section>
  </questionary>
</div>
