<div class="container main-container">
  <!-- <h1>Fondos</h1> -->
  <%= button_to "Nuevo Fondo", new_fund_path, method: :get, class: "btn btn-default margin-bottom-normal pull-right" %>
  <table class="table">
    <tr>
      <th><strong>Nombre</strong></th>
      <th><strong>Instituci&oacute;n</strong></th>
      <th><strong>Descripci&oacute;n</strong></th>
    </tr>
  <% @funds.each do |f| %>
    <tr>
      <td><%= f.name %></td>
      <td><%= f.institution %></td>
      <td><%= f.description %></td>
    </tr>
  <% end %>

  </table>
</div>
