<div class="page__title">
    <span class="title__text">INICIO</span>
</div>
<div class="page__content">
  <h3>¡Bienvenido!</h3>
  <p>Esta aplicaci&oacute;n la realizamos para ayudarte a encontrar programas que se ajusten a tus necesidades.</p>
  <p>Para empezar, necesitamos registrar algunos datos y asociarte con programas recomendados &oacute; inicia sesión si ya creaste tu cuenta previamente.</p>
</div>

<div class="page__content">
  <h2>Ley de privacidad</h2>
  <p>
    En cumplimiento con lo establecido por la Ley de Protección de Datos Personales para el Distrito Federal, le solicitamos leer esta leyenda de privacidad y manejo de datos personales:
  </p>
  <p>
    A efecto de cumplir con el deber de información previsto en el artículo 9 de la Ley de protección de datos personales del Distrito Federal, en el momento en el que se recaben datos personales, por cualquier medio, el ente público deberá hacer del reconocimiento  del interesado las advertencias a las que se refiere dicho artículo.
  </p>
  <p>
    <strong>“Los datos personales recabados serán protegidos, incorporados y tratados en el Sistema de Datos Personales</strong> (nombre del sistema de datos personales)<strong>, el cual tiene su fundamento en</strong> (fundamento legal que faculta al Ente público para recabar los datos personales), <strong>cuya finalidad es</strong> (describir la finalidad del sistema) <strong>y podrán ser transmitidos a</strong> (destinatario y finalidad de la transmisión)<strong>, además de otras transmisiones previstas en la Ley de Protección de Datos Personales para el Distrito Federal.</strong>
  </p>
  <p>
    <strong>Los datos marcados con un asterisco (*) son obligatorios y sin ellos no podrá acceder al servicio o completar el trámite</strong> (indicar el servicio o trámite de que se trate).
  </p>
  <p>
    <strong>Asimismo, se le informa que sus datos no podrán ser difundidos sin su consentimiento expreso, salvo las excepciones previstas en la Ley. El responsable del Sistema de datos personales es</strong> (nombre del responsable)<strong>, y la dirección donde podrá ejercer los derechos de acceso, rectificación, cancelación y oposición, así como la revocación del consentimiento es </strong>(indicar el domicilio de la Oficina de Información Pública correspondiente). <strong>El interesado podrá dirigirse al Instituto de Acceso a la Información Pública del Distrito Federal, donde recibirá asesoría sobre los derechos que tutela la Ley de Protección de Datos Personales para el Distrito Federal al teléfono: 5636-4636; correo electrónico: datos.personales@infodf.org.mx o <a href="http://www.infodf.org.mx">www.infodf.org.mx</a>”</strong>
  </p>
  <span><%= link_to "HE LEÍDO Y ACEPTO LOS TÉRMINOS", questionary_index_path, class: "button--full" %></span>
</div>
