<div class="page__title">
    <span class="title__text">AVISO DE PRIVACIDAD</span>
    <i class="icon  icon-info"></i>
</div>
<div class="page__content">
  <h3>¡Bienvenido a la app de Fondeso!</h3>
  <p>Podemos recomendarte fondos blablabla. S&oacute;lo necesitamos saber un poco m&aacute;s de ti y de tu empresa.</p>
    <p>Contesta las siguientes preguntas. Puedes cerrar la p&aacute;gina en cualquier momento y tu progreso se quedar&aacute; guardado.</p>
    <a class="button--full" href="">INICIAR EVALUACI&Oacute;N</a>
</div>
